# IMPORT PACKAGES

In [1]:
import pandas as pd
import numpy as np
import json
import requests

# IMPORT DATA API (KOREAN IDOLS)

In [2]:
data=pd.read_csv("korean_idols.csv")
data

  Stage Name          Full Name       Birth
0         IU          Lee Jieun  1993-05-16
1     Jennie         Kim Jennie  1996-01-16
2       Lisa  Pranpriya Manoban  1997-03-27
3      Jihyo         Park Jisoo  1997-02-01
4       Sana    Minatozaki Sana  1996-12-29
5      Tzuyu         Chou Tzuyu  1999-06-14
6     Dahyun         Kim Dahyun  1998-05-28
7        Bom           Park Bom  1984-03-24
8   Jungkook      Jeon Jungkook  1997-09-01
9          V       Kim Taehyung  1995-12-30

# GET DATA API

Because in data API resource has Required Parameters, so when we want to get complete data we must combine data with gender "female" and "male".

## API DATA WITH FEMALE GENDER

In [ ]:
url = "https://k-pop.p.rapidapi.com/idols"

querystring = {"q": "F" ,"by":"Gender"}

headers = {
	"X-RapidAPI-Key": "315564a229msh79219e8f9125acdp16837bjsn6fd6f0544501",
	"X-RapidAPI-Host": "k-pop.p.rapidapi.com"
}

response = requests.request("GET", url, headers=headers, params=querystring)

data1=response.json()
df= pd.json_normalize(data1, 'data')
df